@media screen and (max-width: 992px) {
  
  h1 {
   font-size: 27px;
  }
  #menu a {
    font-size: 17px;
    margin-right: 5px;
    margin-top: 20px;
    padding: 5px 5px;
}
#connection a {
    padding: 10px;
}

#listcategories img {
	
	width : 175px;
	height : 125px ;
}

#information {
	margin : 0px;
	height : 260px;
}
}
@media screen and (max-width: 768px) {
#mapDiv {
	margin: 0px;
}

#connection {
    position: absolute;
    right: 0;
    top: 0;
}
}