<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>A propos</title>
    <link rel="icon" th:href="@{../img/iconCarton.png}" />
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{../css/jquery-jvectormap-2.0.3.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{../css/style.css}"/>
	<script type="text/javascript"  th:src="@{../js/jquery-3.1.1.min.js}"></script>
	<script type="text/javascript"  th:src="@{../js/bootstrap.min.js}"></script>
    
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div id="menuband">
                <div id="logo" class="col-lg-2">
                    <img th:src="@{../img/iconCarton.png}" width="70" heigth="70" alt=""/>
                </div>
                <div id="menu" class="col-lg-7">
                    <nav class="navbar navbar-default">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div id="navbar" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li><a th:href="@{/}">Accueil</a></li>
                                    <li><a th:href="@{/research}">Voir nos annonces</a></li>
                                    <li><a th:href="@{/about}">A Propos</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div id="connection" class="col-lg-3">
                     <a th:href="@{/user/subscribePage}"><img th:src="@{../img/iconConnexion.png}" width="25" height="25" alt=""/>
                        Se connecter - S'inscrire</a>
                </div>
            </div>
        </div>
    </div>

</header>
<div class="container-fluid">
    <div class="row">
        <div id="headband">
            <div id="contentHeadband" class=" col-lg-2 col-lg-offset-5">
                <h1>A propos</h1>
                <form th:action="@{/advertisement/research}" method="POST"  class="text-center" >
	                <input type="text" class="form-control" name="researchTxt"/><br/>
	                <input type="submit" id="submit" value="Rechercher"/>
                 </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" id="aboutPage">
        <div id="whoAreUs">
            <h1>Qui sommes-nous ?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim pellentesque elementum. Pellentesque scelerisque ligula vel magna viverra ultrices. Nullam pellentesque sem dolor, nec blandit odio sagittis nec. Curabitur non auctor purus. Pellentesque convallis vel risus ut eleifend. Morbi in dapibus odio. Morbi ac lacus diam. Cras suscipit ex a egestas gravida.</p>
            <p>Pellentesque sed metus et elit venenatis gravida. Aliquam sem felis, mattis lobortis sapien vitae, convallis eleifend dolor. Etiam sollicitudin aliquet ligula, nec lobortis ligula faucibus vel. Nulla mauris diam, varius eget vehicula vitae, porta ut tortor. </p>
            <p>Phasellus nibh nunc, rhoncus ac dapibus eu, tempus quis urna. Donec et tempor tortor. Nulla suscipit bibendum purus nec sodales. Nunc sit amet augue lectus. Nullam sit amet auctor quam. Nullam congue odio et quam vehicula pulvinar. Integer fermentum tempus dignissim. Vestibulum ut risus turpis. Vestibulum ut ornare lacus.</p>
        </div>
        <div id="contact">
            <h1>Nous contacter</h1>
            <p>Quisque maximus ex purus, a viverra sapien lobortis eu. Proin nec bibendum metus. Sed sodales erat tellus, ac dapibus leo venenatis quis. Vivamus scelerisque eu ante et porta. Ut ut turpis tristique, pellentesque ipsum blandit, cursus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nibh nulla, dictum mattis ipsum vitae, elementum commodo dolor. </p>
            <img th:src="@{../img/phone.png}" width="30" height="30" alt=""/>00 00 00 00 00<br/>
            <img th:src="@{../img/mail.png}" width="50" height="40" alt=""/>test@gmail.com<br/>
            <a href="#"><img th:src="@{../img/facebook.png}" width="50" height="50" alt=""/></a>
            <a href="#"><img th:src="@{../img/twitter.png}" width="50" height="50" alt=""/></a>
            <a href="#"><img th:src="@{../img/google.png}"  width="50" height="50" alt=""/></a>
        </div>
        <div id="careers">
            <h1>Nous rejoindre</h1>
            <p>Maecenas venenatis scelerisque elit, non ornare neque rhoncus non. Sed in sollicitudin purus, nec accumsan leo. Pellentesque gravida id diam at ultrices. Nam et justo et augue tempus bibendum ultrices vel nulla.</p>
            <p>Sed ornare odio mi, sed aliquam nisl gravida et. Nam efficitur nibh commodo, dignissim ex vitae, scelerisque purus. Sed felis lectus, accumsan ut odio ut, vulputate lacinia nibh. Suspendisse leo est, pulvinar sit amet hendrerit egestas, commodo eu odio. Nunc diam quam, rhoncus eu bibendum pharetra, congue at nisl. Nam placerat eros tellus, vel tempus augue tincidunt non. Sed pulvinar placerat risus, sit amet dignissim elit. </p>
        </div>
    </div>
</div>
<footer>
        <div class="container">
            <div class="row">
                <div id="about" class="col-lg-4">
                    <h1>A Propos</h1>
                    <a th:href="@{/about#whoAreUs}">Qui sommes-nous ?</a><br/>
                    <a th:href="@{/about#contact}">Nous contacter</a><br/>
                    <a th:href="@{/about#careers}">Nous rejoindre</a>
                </div>
                <div id="generalInformations" class="col-lg-4">
                    <h1>Informations générales</h1>
                    <a th:href="@{/information#condition}">Conditions générales d'utilisation</a><br/>
                    <a th:href="@{/information#privateLife}">Vie privée / cookies</a>
                </div>
                <div id="socialNetworks" class="col-lg-4">
                    <h1>Réseaux sociaux</h1>
                    <a href="#"><img th:src="@{../img/facebook.png}" width="50" height="50" alt=""/></a>
                    <a href="#"><img th:src="@{../img/twitter.png}" width="50" height="50" alt=""/></a>
                    <a href="#"><img th:src="@{../img/google.png}" width="50" height="50" alt=""/></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>