<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>Recherche</title>
    <link rel="icon" th:href="@{../img/iconCarton.png}" />
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{../css/jquery-jvectormap-2.0.3.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{../css/style.css}"/>
    <script type="text/javascript" th:href="@{../js/jquery-1.12.3.min.js}"></script>
    <script type="text/javascript" th:href="@{../js/bootstrap.min.js}"></script>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div id="menuband">
                <div id="logo" class="col-lg-2">
                    <img th:src="@{../img/iconCarton.jpg}" width="70" heigth="70" alt=""/>
                </div>
                <div id="menu" class="col-lg-7">
                    <nav class="navbar navbar-default">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div id="navbar" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li><a th:href="@{/}">Accueil</a></li>
                                    <li><a th:href="@{/research}">Voir nos annonces</a></li>
                                    <li><a th:href="@{/about}">A Propos</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div id="connection" class="col-lg-3">
                    <a href="login.html"><img th:src="@{../img/iconConnexion.png}" width="25" height="25" alt=""></img>
                        Se connecter - S'inscrire</a>
                </div>
            </div>
        </div>
    </div>

</header>
<div class="container-fluid">
    <div class="row">
        <div id="headband">
            <div id="contentHeadband" class=" col-lg-2 col-lg-offset-5">
                <h1>Informations générales</h1>
                <form method="" action="" class="text-center">
                    <input type="text" class="form-control" id="researchTxt"/><br/>
                    <input type="submit" id="submit" value="Rechercher"/>
                </form>
            </div>
        </div>
    </div>
</div>
				        
<div class="container">
    <div class="row">
        <div class="col-lg-10" id="infoProduct">
            <div class="row">
                <div class="col-lg-12" id="listProducts">
                    <h1 class="text-center">Produits</h1>
                    <a th:each="adv : ${advlist}" th:href="@{'/advertisement/getAdvertisement?id='+${adv.value.id}}">
                        <div id="produit1" class="col-lg-4">
                            <img th:src="@{'photoSearch/' +${adv.key}}" width="200" height="150" alt=""></img>
                            <h3 th:text="${adv.value.title}"> </h3>
                            <p th:text="${adv.value.description}"> </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-2" id="categoriesList">
            <h1 class="text-center">Catégories</h1> <!-- Affichage de la liste des catégories et quand on clique dessus ça fait une recherche par catégorie -->
            <a href="#"><p>Plantes</p></a>
            <a href="#"><p>Meubles</p></a>
            <a href="#"><p>Table</p></a>
            <a href="#"><p>Chaise</p></a>
            <a href="#"><p>Art</p></a>
            <a href="#"><p>Textile</p></a>
            <a href="#"><p>Lampe</p></a>
            <a href="#"><p>Lit</p></a>
            <a href="#"><p>Vaisselle</p></a>
            <a href="#"><p>Ustensile cuisine</p></a>
            <a href="#"><p>Meuble de jardin</p></a>
            <a href="#"><p>Technologie</p></a>
        </div>
    </div>
</div>
<footer>
        <div class="container">
            <div class="row">
                <div id="about" class="col-lg-4">
                    <h1>A Propos</h1>
                    <a th:href="@{/about#whoAreUs}">Qui sommes-nous ?</a><br/>
                    <a th:href="@{/about#contact}">Nous contacter</a><br/>
                    <a th:href="@{/about#careers}">Nous rejoindre</a>
                </div>
                <div id="generalInformations" class="col-lg-4">
                    <h1>Informations générales</h1>
                    <a th:href="@{/about#condition}">Conditions générales d'utilisation</a><br/>
                    <a th:href="@{/about#privateLife}">Vie privée / cookies</a>
                </div>
                <div id="socialNetworks" class="col-lg-4">
                    <h1>Réseaux sociaux</h1>
                    <a href="#"><img th:src="@{../img/facebook.png}" width="50" height="50" alt=""/></a>
                    <a href="#"><img th:src="@{../img/twitter.png}" width="50" height="50" alt=""/></a>
                    <a href="#"><img th:src="@{../img/google.png}" width="50" height="50" alt=""/></a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>