<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>ProjetGL</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}"/>
</head>
<body>
<script language="JavaScript">
function validation(f) {
if (f.mdp1.value != f.password.value) {
    alert('Vous avez entrée des mots de passe différents !');
    f.mdp1.focus();
    return false;
    }
  else if (f.mdp1.value == f.password.value) {
    return true;
    }
  else {
    f.mdp1.focus();
    return false;
    }
  }
</script>
	<div class="container">
		<div class ="panel panel-default">
			<div class="panel panel-heading">S'inscrire</div>
			<div class="panel-body">
				<form th:action="@{subscribe}" method="post" onSubmit="return validation(this)">
					<div class="form-group">
						<label class="control-label">Pseudo</label>
						<input class="form-control" type="text" name="username" th:value="${user.username}"/>
						<span th:errors="${user.username}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Mot de passe</label>
						<input class="form-control" name="mdp1" type="password"/>
					</div>
					<div class="form-group">
						<label class="control-label">Confirmation Mot de passe</label>
						<input class="form-control" type="password" name="password" th:value="${user.password}"/>
						<span th:errors="${user.password}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Prénom</label>
						<input class="form-control" type="text" name="firstName" th:value="${user.firstName}"/>
						<span th:if="${user.firstName != null}">Ne peut pas être vide</span>
					</div>
					<div class="form-group">
						<label class="control-label">Nom de famille</label>
						<input class="form-control" type="text" name="lastName" th:value="${user.lastName}"/>
						<span th:errors="${user.lastName}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Adresse mail</label>
						<input class="form-control" type="text" name="mailAddress" th:value="${user.mailAddress}"/>
					</div>
					<div class="form-group">
						<label class="control-label">Numéro de téléphone</label>
						<input class="form-control" type="text" name="phoneNumber" th:value="${user.phoneNumber}"/>
					</div>
					<div class="form-group">
						<label class="control-label">Adresse</label>
						<input class="form-control" type="text" name="street" th:value="${address.street}"/>
						<span th:errors="${address.street}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Ville</label>
						<input class="form-control" type="text" name="city" th:value="${address.city}"/>
						<span th:errors="${address.city}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Code postal</label>
						<input class="form-control" type="text" name="zip" th:value="${address.zip}"/>
						<span th:errors="${address.zip}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Pays</label>
						<input class="form-control" type="text" name="country" th:value="${address.country}"/>
						<span th:errors="${address.country}"></span>
					</div>
					<button type="submit" class="btn btn-primary">S'inscrire</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>