<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>ProjetGL</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}"/>
</head>
<body>
	<div class="container">
		<div class ="panel panel-default">
			<div class="panel panel-heading">Modification du compte</div>
			<div class="panel-body">
				<form th:action="@{modify}" method="post">
					<div class="form-group">
						<label class="control-label">Pseudo</label>
						<input class="form-control" type="text" name="username" th:value="${user.username}"/>
					</div>
					<div class="form-group">
						<label class="control-label">Mot de passe</label>
						<input class="form-control" type="password"/>
					</div>
					<div class="form-group">
						<label class="control-label">Confirmation Mot de passe</label>
						<input class="form-control" type="password" name="password" th:value="${user.password}"/>
					</div>
					<div class="form-group">
						<label class="control-label">Prénom</label>
						<input class="form-control" type="text" name="firstName" th:value="${user.firstName}"/>
					</div>
					<div class="form-group">
						<label class="control-label">Nom de famille</label>
						<input class="form-control" type="text" name="lastName" th:value="${user.lastName}"/>
					</div>
					<div class="form-group">
						<label class="control-label">Adresse mail</label>
						<input class="form-control" type="text" name="mailAddress" th:value="${user.mailAddress}"/>
					</div>
					<div class="form-group">
						<label class="control-label">Numéro de téléphone</label>
						<input class="form-control" type="text" name="phoneNumber" th:value="${user.phoneNumber}"/>
					</div>
					<div class="form-group">
						<label class="control-label">Adresse</label>
						<input class="form-control" type="text" name="street" th:value="${address.street}"/>
					</div>
					<div class="form-group">
						<label class="control-label">Ville</label>
						<input class="form-control" type="text" name="city" th:value="${address.city}"/>
					</div>
					<div class="form-group">
						<label class="control-label">Code postal</label>
						<input class="form-control" type="text" name="zip" th:value="${address.zip}"/>
					</div>
					<div class="form-group">
						<label class="control-label">Pays</label>
						<input class="form-control" type="text" name="country" th:value="${address.country}"/>
					</div>
					<button type="submit" class="btn btn-primary">Modifier</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>